<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>


<h1>   </h1>

<body>
    <section id= "content">
    <%= render "layouts/navigation" %>
    <%= yield %>
    <section>
</body>


<footer>
    <p> &copy; <%= Time.now.year %> Rebecca Nguyen </p>
</footer>

</html>
